<ion-view view-title="List Dewa">
	<ion-content>
		<ion-list>
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
				<h2>{{chat.name}}</h2>
				<p>{{chat.lastText}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
	</ion-content>
	<ion-content padding="false" class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="showData()"></ion-refresher>
		<ion-list show-Delete = "data.showDelete" show-Reorder = "data.showReorder">
			<ion-item  ng-repeat="datadewa in datadewas" type="item-text-wrap">
				<i class="icon ion-ios7-arrow-right"></i>
				<h2>{{datadewa.nama}}</h2>
				<ion-delete-button class="ion-minus-circled"></ion-delete-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
