<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-header bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

  <!-- navigasi side menu -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button" menu-toggle="right">Menu</button>
      </ion-nav-buttons>
  <!-- batas navigasi -->

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

<!-- left menu-->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/friends">
          Friends
        </ion-item>
        <ion-item menu-close href="#/app/recentposts">
          Recent Post
        </ion-item>
        <ion-item menu-close href="#/app/gallery">
          Gallery
        </ion-item>
        <ion-item menu-close href="#/app/settings">
          Settings
        </ion-item>
        <ion-item menu-close href="#/app/about">
          About App
        </ion-item>
        <ion-item menu-close href="#/app/settings">
          Exit
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>


<!-- right menu -->
  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>

<div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
    Check mail
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-chatbubble-working"></i>
    Call Me
    <i class="icon ion-ios-telephone-outline"></i>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-mic-a"></i>
    Record album
    <span class="item-note">
      Grammy
    </span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Friends Requests
    <span class="badge badge-assertive">0</span>
  </a>

</div>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
