<ion-view view-title="Settings">
  <ion-content>
    <ion-list>

<ul class="list">

  <li class="item item-toggle">
     Auto Notification
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
     Friend Notif
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <div class="list">
    <div class="item range range-positive">
      <i class="icon ion-ios-sunny-outline"></i>
      <input type="range" name="volume" min="0" max="100" value="33">
      <i class="icon ion-ios-sunny"></i>
    </div>
  </div>


</ul>

  </ion-list>
  </ion-content>
</ion-view>
<div class="bar bar-footer bar-balanced">
      <div class="title">PlinPlan Indonesia</div>
</div>